
#chart {
  padding-left: 5px;
  width: 600px;
  height: 400px;
  float: left;
  padding-bottom: 0px;
}

#controls {
  font-size: 0.6rem;
  margin-top: 0.5rem;
  /* float: right; */
}

 label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

label > input {
  vertical-align: text-bottom;
}

label > span {
  display: inline-block;
  height: 0.4rem;
  width: 0.7rem;
  margin: 0 0.25rem;
}
