.page-404 {
	h2 {
		margin-bottom: 20px;
	}

	p {
		margin-bottom: 40px;
	}

	.search-404 {
		max-width: 400px;
		width: 100%;
		margin: auto;
		position: relative;
		border: 1px solid #eee;

		input[type="search"] {
			width: 100%;
			outline: none;
			border-width: 0;
			padding: 0 10px;
			height: 40px;
			line-height: 40px;
			background-color: transparent;
		}

		button {
			background-color: transparent;
			border-width: 0;
			position: absolute;
			cursor: pointer;
			outline: none;
			top: 0; bottom: 0; right: 0;
			width: 40px; text-align: center;
		}
	}
}