.banner {
	position: relative;
	z-index: 1;
	text-align: center;
	height: 500px;

	h2 {
		text-transform: uppercase;
		letter-spacing: 0.2em;
	}

	p {
		font-size: 18px;
		max-width: 650px;
		margin: auto;
		line-height: 1.7em;
		font-style: italic;
		@extend .font-subtitle;
	}

	.triangle {
		width: 19px;
		height: 13px;
		display: block;
		margin: auto;
		background: url('../img/triangle-bottom.png') no-repeat center center;
	}

	.overlay {
		z-index: -1;
	}
}

.banner1 {
	text-align: center;

	.inner {
		position: absolute;
		width: 100%;
		padding: 0 15px;
		top: 50%;
		@include translateY(-50%);
	}

	h2 {
		font-size: 30px;
		padding: 20px 40px;
		margin-bottom: 30px;
		background-color: #fff;
		display: inline-block;
		position: relative;

		&:before {
			content: '';
			border: 1px solid #fff;
			left: -5px; right: -5px; bottom: -5px; top: -5px;
			position: absolute;
			pointer-events: none;
		}

		span {
			@extend .c-hover;
		}
	}

	.triangle {
		margin-top: 20px;
	}

	@media(max-width: 767px) {
		height: 400px !important;

		h2 {
			font-size: 26px;
		}

		p {
			font-size: 16px;
		}
	}

	@media(max-width: 480px) {

		h2 {
			font-size: 20px;
			padding: 20px;
			margin-bottom: 20px;
		}

		p {
			font-size: 14px;
		}
	}
}

.banner2 {

	.inner {
		position: absolute;
		width: 100%;
		padding: 0 15px;
		top: 50%;
		@include translateY(-50%);
	}

	h2 {
		font-size: 24px;
		margin-bottom: 13px;
	}

	@media(max-width: 767px) {
		height: 400px !important;

		h2 {
			font-size: 20px;
		}
	}

	@media(max-width: 480px) {
		height: 300px !important;

		h2 {
			font-size: 20px;
		}
	}

	@media(max-width: 320px) {
		height: 250px !important;

		h2 {
			font-size: 20px;
		}
	}
}

.banner3 {

	.inner {
		position: absolute;
		width: 100%;
		padding:50px 60px;
		bottom: 0; left: 0;
	}

	h2 {
		font-size: 40px;
		text-transform: none;
		line-height: 1.3em;
		text-align: left;

		span {
			@extend .c-hover;

			span {
				color: #fff;
			}
		}
	}

	@media(max-width: 767px) {
		height: 400px !important;

		.inner {
			padding: 30px 40px;			
		}

		h2 {
			font-size: 30px;
		}
	}

	@media(max-width: 480px) {
		height: 300px !important;

		.inner {
			padding: 30px;			
		}

		h2 {
			font-size: 24px;
		}
	}

}