.clients-slider {
	margin-right: -1px;
	

	a {
		display: block;
		border-right-width: 0;
		text-align: center;
		padding: 10px;
		vertical-align: middle;
		line-height: 120px;
	}

	.owl-wrapper-outer {
		border: 1px solid #eee;
	}
	
	.owl-item {
		border-right: 1px solid #eee;
		position: relative;
	}


	.owl-controls{
		margin-top: 30px;

		.owl-page {

			span {
				width: 8px;
				background-color: #717171;
				height: 8px;
				margin: 0 5px;
			}
		}
	}
}